h1,h2,h3,h4,h5,h6{
	font-family:'Lato', sans-serif;
	color:white;
	margin:.5em 0 0.5em 0;
	font-weight:900;
	line-height:1em;
	text-transform:uppercase;
}

h1{
	font-size:2.5em;
}
h2{
	font-size:2.1em;
}
h3{
	font-size:2em;
}
h4{
	font-size:1.7em;
}
h5{
	font-size:1.5em;
}
h6{
	font-size:1.3em;
}


.form-padder {

    padding: 0 0 0 20px;
}

.padder {

    padding: 0 0 0 10px;
}


.center {

    padding: 0 0 0 10px;
}

.margin-padder {

    padding: 0 0 0 20px;
}


input[type="text"]{

    width: 20%;
    min-width: 200px;
    

}



body{

    background-color: #3bb399;
}


.wrap {
    min-width: 3rem;
    background-color: #3bb399;

}