.form-padder {

    padding: 0 0 0 20px;
}

.padder {

    padding: 0 0 0 10px;
}

.margin-padder {

    padding: 0 0 0 20px;
}


input[type="text"]{

    width: 20%;
    min-width: 200px;
    

}



body{

    background-color: #3bb399;
}


.wrap {
    min-width: 3rem;
    background-color: #3bb399;

}