h1,h2,h3,h4,h5,h6{
	font-family:'Lato', sans-serif;
	color:white;
	margin:0.0em 0 0.0em 0;
	font-weight:900;
	text-transform:uppercase;
}

h1{
	font-size:2.5em;
}
h2{
	font-size:2.1em;
}
h3{
	font-size:2em;
}
h4{
	font-size:1.7em;
}
h5{
	font-size:1.5em;
}
h6{
	font-size:1.3em;
}


.form-padder {

    padding: 0 0 0 20px;
}

.padder {

    padding: 15px 15px 15px 15px;
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);}


.no-padding {

    padding: 0px 0px 0px 0px;
}

.margin-padder {

    padding: 0 0 0 20px;
}


input[type="text"]{

    width: 20%;
    min-width: 200px;
    

}



body{

    background-color: #3bb399;
}


.wrap {
    min-width: 3rem;
    background-color: rgb(23, 162, 184);

}